@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap");

.navbar {
  padding-left: 2rem;
  background-color: blue !important;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Keeps it above other elements */
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: white; /* Ensure the text color contrasts with the navbar background */
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
}

/* Cart link styling */
.cart-link {
  margin-left: auto; /* Pushes cart link to the right */
  font-size: 1.2rem; /* Increases font size for better visibility */
  margin-right: 40px;
}

/* Add spacing between the navbar and form */
.body {
  margin-top: 60px;
}

.navbar-text {
  margin-left: 300px; /* Adjust as needed to position near the cart */
  color: white !important;
  font-size: 1.2rem;
}
