.container-products {
  background-image: url("../SaxPics/OIP.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin-top: 70px;
  min-height: 100vh;
}

/*Card css needed to be specific - was causing issues with general css styles*/
.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1rem;
}

.card-text {
  font-size: 0.9rem;
}

h5 {
  font-size: 1rem;
}

.col-md-4 {
  margin-bottom: 20px; /*Adds vertical space between products*/
}
