.total-price {
  margin-left: auto; /*Pushes total price to the right */
  padding-right: 2rem;
  font-weight: bold; /*Makes the text bold */
  font-size: 1.2em; /*Increases font size for better visibility*/
}
